@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/autumn.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.container{
    width: 420px;
    background-color: rgba(255, 255, 255, 0.096);
    border: 2px solid white;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(1px);
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: rgb(184, 184, 184);
}

.input-box i{
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: -10px 0 15px;
}

.remember-forgot label input{
    accent-color: white;
    margin-right: 5px;
}

.remember-forgot a{
    text-decoration: none;
    color: white;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.login{
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 500;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 20px;
}

.login:hover{
    border: 2px solid black;
}

.register-link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.register-link a:hover{
    text-decoration: underline;
}